In [1]:
#import packages


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import geopandas as gpd
#from shapely.geometry import Point, Polygon, box
#import fiona
#import pyproj
#import contextily as ctx
import os
import requests
import matplotlib.ticker as ticker
import scipy.stats as stats
import matplotlib.pyplot as plt
from matplotlib import pyplot
from matplotlib.ticker import PercentFormatter
import requests
import matplotlib.colors as colors
import pandas as pd
import os
import glob

#%matplotlib widget
%matplotlib inline

In [2]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Users/amandaworthy/opt/anaconda3/envs/uwgda2022/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /Users/amandaworthy/opt/anaconda3/envs/uwgda2022/lib/python3.9/site-packages (from openpyxl) (1.1.0)

# This notebook will combine the data logs collected from different instruments at UW

In [3]:
!pwd

/Users/amandaworthy/CS4EVN/Data

In [4]:
!ls

Data_Organization_Instruments.ipynb QUESTTEMP_Reports
Gas_Lab_Reports

In [14]:
#code to grab specific gaslab report

one= pd.read_csv("Gas_Lab_Reports/Allen 605/January-24-2023_Allen.csv", sep=',', header=[1])
one.head()

list(one.columns)

['Unnamed: 0', 'CO2', 'Temperature', 'Humidity', 'Unnamed: 4']

## Read in all files from gaslab

In [15]:
import os
import pandas as pd
import glob
import openpyxl
path_co2 = os.path.abspath('Gas_Lab_Reports/Allen 605') 
files_co2 = os.listdir(path_co2) 
file_list_co2 = glob.glob(path_co2 + "/*.csv")
file_list_co2

['/Users/amandaworthy/CS4EVN/Data/Gas_Lab_Reports/Allen 605/January-24-2023_Allen.csv']

In [16]:
df = pd.DataFrame()
for file in file_list_co2:
    temp_df = pd.read_csv(file, header=[1])
    df = pd.concat([df, temp_df], axis=0)


#remove columns w only na
df= df.dropna(axis=1, how='all')

#rename columns
df= df.rename(columns= {"Unnamed: 0": "Date_Time", 'CO2': "CO2_gas_lab", 'Temperature': "Temperature_gas_lab", 'Humidity': "Humidity_gas_lab"})

#make datetime column a datetime :) 
df


df['Date_Time'] =  pd.to_datetime(df['Date_Time'])
df

,Date_Time,CO2_gas_lab,Temperature_gas_lab,Humidity_gas_lab
0,2023-01-24 14:12:31.119,0,24.05,32.57
1,2023-01-24 14:13:31.110,593,24.20,32.06
2,2023-01-24 14:14:31.110,590,24.32,31.96
3,2023-01-24 14:15:31.098,597,24.39,31.79
4,2023-01-24 14:16:31.102,594,24.46,31.48
...,...,...,...,...
6654,2023-01-30 10:08:23.042,504,24.30,16.70
6655,2023-01-30 10:10:10.951,501,24.31,16.66
6656,2023-01-30 10:11:58.876,552,24.30,16.94
6657,2023-01-30 10:13:45.516,559,24.30,16.80
6658,2023-01-30 10:15:32.515,521,24.31,16.80

In [152]:
#leave blank

## Read in all files from Questtemp

In [153]:
!pwd

/Users/amandaworthy/CS4EVN/Data

In [19]:
#code to grab specific gaslab report

two= pd.read_csv("QUESTTEMP_Reports/Allen 605/1_20_2023_Allen_2.csv", header=[0])


list(two.columns)

['Timestamp',
 'DryBulb',
 'Globe',
 'HeatIndex',
 'Humidity',
 'WBGTIn',
 'WBGTOut',
 'WetBulb']

In [20]:
two.head()

#two.drop(two.tail(1851-1806).index,inplace=True)
two['Timestamp'] =  pd.to_datetime(two['Timestamp'])

two.head()

,Timestamp,DryBulb,Globe,HeatIndex,Humidity,WBGTIn,WBGTOut,WetBulb
0,2023-01-18 17:21:00,23.0,23.8,21.9,32.5,17.1,17.0,14.2
1,2023-01-18 17:23:00,23.2,23.8,22.0,31.8,17.1,17.0,14.2
2,2023-01-18 17:25:00,23.3,23.7,22.0,31.6,17.1,17.0,14.2
3,2023-01-18 17:27:00,23.3,23.6,22.0,31.2,17.0,17.0,14.2
4,2023-01-18 17:29:00,23.4,23.6,22.0,31.0,17.0,17.0,14.2

In [23]:
import os
import pandas as pd
import glob
import openpyxl
path_temp = os.path.abspath('QUESTTEMP_Reports/Allen 605/') 
files_temp = os.listdir(path_temp) 
file_list_temp = glob.glob(path_temp + "/*.csv")
file_list_temp

['/Users/amandaworthy/CS4EVN/Data/QUESTTEMP_Reports/Allen 605/1_20_2023_Allen_2.csv']

In [24]:
#only have one df right now so haven't figured out full syntex 

df_temp = pd.DataFrame()
for file in file_list_temp:
    print(file)

/Users/amandaworthy/CS4EVN/Data/QUESTTEMP_Reports/Allen 605/1_20_2023_Allen_2.csv

## Merge the two df together from CO2 sensor and Tempoquest
#### Merge by timestamp