## WAHOOO welcome to LMN File Cleaning

In [59]:
#import packages

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, box
import fiona
import pyproj
import contextily as ctx
import os
import requests
import matplotlib.ticker as ticker
import scipy.stats as stats
import matplotlib.pyplot as plt
from matplotlib import pyplot
from matplotlib.ticker import PercentFormatter
import requests
import matplotlib.colors as colors

#%matplotlib widget
%matplotlib inline

In [60]:
!ls

CSE2_Deployment1_Locations.jpg
CSE2_Deployment2_Locations.jpg
Deployment1_postcal_wide.csv
LMN_file_cleaning.ipynb
PODDs_CSE2_Deployment1.csv
PODDs_CSE2_Deployment1_PostCalibration.csv
PODDs_CSE2_Deployment1_PostCalibration_noquote.csv
PODDs_CSE2_Deployment1_PreCalibration.csv
PODDs_CSE2_Deployment2.csv
PODDs_CSE2_Deployment2_PreCalibration.csv
README.txt

In [61]:
import os
import pandas as pd
import glob
import openpyxl
path = os.path.abspath('') 
files = os.listdir(path) 
file_list = glob.glob(path + "/*.csv")
file_list

['/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment1_PostCalibration_noquote.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment1.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment2.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment1_PreCalibration.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment2_PreCalibration.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/PODDs_CSE2_Deployment1_PostCalibration.csv',
 '/Users/amandaworthy/CS4EVEN/LMN/Deployment1_postcal_wide.csv']

In [62]:
df = pd.read_csv('PODDs_CSE2_Deployment1_PostCalibration_noquote.csv', sep=",")
df.columns =['Time_UTC', 'Pod', 'Measured', 'Value', 'Time_PST']
df

              Time_UTC           Pod   Measured   Value        Time_PST
0       11/22/19 23:29  PODDv1.2_003    AirTemp   73.76  11/22/19 15:29
1       11/22/19 23:29  PODDv1.2_003  GlobeTemp   74.96  11/22/19 15:29
2       11/22/19 23:29  PODDv1.2_003        CO2  590.00  11/22/19 15:29
3       11/22/19 23:29  PODDv1.2_003         CO    0.00  11/22/19 15:29
4       11/22/19 23:29  PODDv1.2_003     PM_2.5    3.30  11/22/19 15:29
...                ...           ...        ...     ...             ...
626512    12/3/19 4:25  PODDv1.2_003      Sound    3.73   12/2/19 20:25
626513    12/3/19 4:25  PODDv1.2_003         CO    0.00   12/2/19 20:25
626514    12/3/19 4:25  PODDv1.2_003     PM_2.5    3.02   12/2/19 20:25
626515    12/3/19 4:25  PODDv1.2_003      PM_10    3.02   12/2/19 20:25
626516    12/3/19 4:25  PODDv1.2_003  GlobeTemp   71.23   12/2/19 20:25

[626517 rows x 5 columns]

In [74]:
df_wide=pd.pivot(df, index=['Time_UTC','Pod', 'Time_PST'], columns = 'Measured',values = 'Value') #Reshape from long to wide

#Re-arange the new columns in the correct order
cols = df['Measured'].unique()
df_wide=df_wide[cols]
df_wide=df_wide.reset_index()
df_wide=df_wide.sort_values(by=['Pod', 'Time_UTC'])
df_wide

Measured,Time_UTC,Pod,Time_PST,AirTemp,GlobeTemp,CO2,CO,PM_2.5,PM_10,Light,Sound,Humidity
0,11/22/19 23:29,PODDv1.2_003,11/22/19 15:29,73.76,74.96,590.0,0.0,3.30,3.30,226.72,4.39,NaN
1,11/22/19 23:31,PODDv1.2_003,11/22/19 15:31,73.98,74.96,606.0,0.0,3.50,3.50,251.12,4.52,31.06
2,11/22/19 23:33,PODDv1.2_003,11/22/19 15:33,74.29,74.96,595.0,0.0,3.46,3.46,255.20,9.05,30.84
8,11/22/19 23:35,PODDv1.2_003,11/22/19 15:35,74.65,74.96,632.0,0.0,3.56,3.56,152.48,10.71,30.92
24,11/22/19 23:37,PODDv1.2_003,11/22/19 15:37,74.98,75.22,678.0,0.0,2.87,2.87,239.20,10.09,30.39
...,...,...,...,...,...,...,...,...,...,...,...,...
116567,12/2/19 9:56,PODDv1.2_014,12/2/19 1:56,NaN,64.23,517.0,NaN,NaN,NaN,NaN,NaN,NaN
116576,12/2/19 9:57,PODDv1.2_014,12/2/19 1:57,NaN,NaN,NaN,0.0,NaN,NaN,0.06,2.92,31.37
116581,12/2/19 9:58,PODDv1.2_014,12/2/19 1:57,64.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116582,12/2/19 9:58,PODDv1.2_014,12/2/19 1:58,NaN,64.23,519.0,NaN,NaN,NaN,NaN,NaN,NaN
116591,12/2/19 9:59,PODDv1.2_014,12/2/19 1:59,NaN,NaN,NaN,0.0,NaN,NaN,0.06,2.46,31.39

In [75]:
(df['Pod'].unique())

array(['PODDv1.2_003', 'PODDv1.2_004', 'PODDv1.2_005', 'PODDv1.2_006',
       'PODDv1.2_007', 'PODDv1.2_008', 'PODDv1.2_009', 'PODDv1.2_010',
       'PODDv1.2_011', 'PODDv1.2_012', 'PODDv1.2_013', 'PODDv1.2_014'],
      dtype=object)

In [76]:
df_wide.to_csv('Deployment1_postcal_wide.csv', index = False)